<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>setup</key>
	<array>
		<dict>
			<key>action</key>
			<string>delete</string>
			<key>items</key>
			<array>
				<string>${HOME}/${REPLAY_TEST}</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>directory</key>
			<string>${HOME}/${REPLAY_TEST}</string>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>content</key>
			<string>to be deleted</string>
			<key>file</key>
			<string>${HOME}/${REPLAY_TEST}/test-delete.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>content</key>
			<string>to be moved</string>
			<key>file</key>
			<string>${HOME}/${REPLAY_TEST}/test-move.txt</string>
		</dict>
	</array>
	<key>tests</key>
	<array>
		<dict>
			<key>action</key>
			<string>clone</string>
			<key>from</key>
			<string>${REPLAY_TEST_FILES_DIR}/test-clone.txt</string>
			<key>to</key>
			<string>/Users/${USER}/${REPLAY_TEST}/test-clone.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>move</string>
			<key>from</key>
			<string>/Users/${USER}/${REPLAY_TEST}/test-move.txt</string>
			<key>to</key>
			<string>/Users/${USER}/${REPLAY_TEST}/test-moved.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>hardlink</string>
			<key>from</key>
			<string>${REPLAY_TEST_FILES_DIR}/test-hardlink.txt</string>
			<key>to</key>
			<string>/Users/${USER}/${REPLAY_TEST}/test-hardlink.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>symlink</string>
			<key>from</key>
			<string>${REPLAY_TEST_FILES_DIR}/test-symlink.txt</string>
			<key>to</key>
			<string>/Users/${USER}/${REPLAY_TEST}/test-symlink.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>clone</string>
			<key>items</key>
			<array>
				<string>${REPLAY_TEST_FILES_DIR}/test-clone-bulk1.txt</string>
				<string>${REPLAY_TEST_FILES_DIR}/test-clone-bulk2.txt</string>
				<string>${REPLAY_TEST_FILES_DIR}/test-clone-bulk3.txt</string>
			</array>
			<key>destination directory</key>
			<string>${HOME}/${REPLAY_TEST}</string>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>content</key>
			<string>This is test file 7 at ${HOME}/${REPLAY_TEST} with expanded env vars</string>
			<key>file</key>
			<string>${HOME}/${REPLAY_TEST}/test-create-expanded.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>content</key>
			<string>This is test file 8 at ${HOME}/${REPLAY_TEST} with unexpanded env vars</string>
			<key>raw</key>
			<true/>
			<key>file</key>
			<string>${HOME}/${REPLAY_TEST}/test-create-unexpanded.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>delete</string>
			<key>items</key>
			<array>
				<string>${HOME}/${REPLAY_TEST}/test-delete.txt</string>
			</array>
		</dict>
	</array>
	<key>force tests</key>
	<array>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>directory</key>
			<string>${HOME}/${REPLAY_TEST}/New Dir</string>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>directory</key>
			<string>${HOME}/${REPLAY_TEST}/New Dir</string>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>content</key>
			<string>revision 1</string>
			<key>file</key>
			<string>${HOME}/${REPLAY_TEST}/test-force.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>content</key>
			<string>revision 2</string>
			<key>file</key>
			<string>${HOME}/${REPLAY_TEST}/test-force.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>clone</string>
			<key>from</key>
			<string>${REPLAY_TEST_FILES_DIR}/test-clone.txt</string>
			<key>to</key>
			<string>${HOME}/${REPLAY_TEST}/test-force.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>create</string>
			<key>content</key>
			<string>to be moved</string>
			<key>file</key>
			<string>${HOME}/${REPLAY_TEST}/test-move.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>move</string>
			<key>from</key>
			<string>/Users/${USER}/${REPLAY_TEST}/test-move.txt</string>
			<key>to</key>
			<string>${HOME}/${REPLAY_TEST}/test-force.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>hardlink</string>
			<key>from</key>
			<string>${REPLAY_TEST_FILES_DIR}/test-hardlink.txt</string>
			<key>to</key>
			<string>${HOME}/${REPLAY_TEST}/test-force.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>symlink</string>
			<key>from</key>
			<string>${REPLAY_TEST_FILES_DIR}/test-symlink.txt</string>
			<key>to</key>
			<string>${HOME}/${REPLAY_TEST}/test-force.txt</string>
		</dict>
	</array>
	<key>symlink tests</key>
	<array>
		<dict>
			<key>action</key>
			<string>symlink</string>
			<key>from</key>
			<string>${REPLAY_TEST_FILES_DIR}/source-validated-nonexistent.txt</string>
			<key>to</key>
			<string>${HOME}/${REPLAY_TEST}/source-validated-nonexistent.txt</string>
		</dict>
		<dict>
			<key>action</key>
			<string>symlink</string>
			<key>from</key>
			<string>${REPLAY_TEST_FILES_DIR}/source-allowed-nonexistent.txt</string>
			<key>to</key>
			<string>${HOME}/${REPLAY_TEST}/source-allowed-nonexistent.txt</string>
			<key>validate</key>
			<false/>
		</dict>
	</array>
	<key>execute tests</key>
	<array>
		<dict>
			<key>action</key>
			<string>execute</string>
			<key>tool</key>
			<string>/usr/bin/touch</string>
			<key>arguments</key>
			<array>
				<string>-c</string>
				<string>${HOME}/${REPLAY_TEST}</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>execute</string>
			<key>tool</key>
			<string>/usr/bin/zip</string>
			<key>arguments</key>
			<array>
				<string>-r</string>
				<string>${HOME}/${REPLAY_TEST}/replay_test_files.zip</string>
				<string>${REPLAY_TEST_FILES_DIR}</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>execute</string>
			<key>tool</key>
			<string>/usr/bin/tar</string>
			<key>arguments</key>
			<array>
				<string>--create</string>
				<string>--gzip</string>
				<string>--file</string>
				<string>${HOME}/${REPLAY_TEST}/replay_test_files.tar.gz</string>
				<string>${REPLAY_TEST_FILES_DIR}</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>execute</string>
			<key>tool</key>
			<string>/bin/sh</string>
			<key>arguments</key>
			<array>
				<string>-c</string>
				<string>/bin/ls "${REPLAY_TEST_FILES_DIR}" | /usr/bin/grep 'clone' &gt; "${HOME}/${REPLAY_TEST}/clone_inputs.txt"</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
